$fontColor: #0091aa;
$colorHeading: #be4a14;
#content  // div with id: content
{
    color: $fontColor;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}
.cheten{
    background-color: blue;
    color: #fff;
    text-shadow: 2px 2px 1px #5933FF;
    border-top: 1px solid #34FF33;
    border-bottom: 1px solid #34FF33;}
    
    